.h1{
text-align: center;
color: rgb(11, 11, 45);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header {
background: linear-gradient(to right, #6a11cb, #2575fc);
padding: 20px;
color: white;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.header-container {
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
font-size: 28px;
font-weight: bold;
}

.footer {
background: #111;
color: #ccc;
padding: 30px;
text-align: center;
margin-top: 40px;
border-radius: 30px 30px 0 0;
}
.Button {
     background-color: #2575fc;
     color: white;
     border : none;
     padding: 10px 20px;
     border-radius: 5px;
    width: 120px;

}

.input {
    padding : 10px;
    border-radius: 5px;

}